<h1 class="current_menu">Amenities</h1>

<%= link_to "Add a New Amenity", new_admin_amenity_path %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  <tr/>
  <% @amenities.each do |amenity| %>
  <tr>
    <td><%= link_to amenity.name, edit_admin_amenity_path(amenity) %></td>
    <td><%= link_to "Delete", [:admin, amenity], method: :delete, data: { confirm: "Are you sure you want to delete #{amenity.name}?" } %></td>
  </tr>
  <% end %>
</table>
