        All our parks:
        <ul>
        <% @allParks.each do |park| %>
          <li>
            <%= link_to park_path(park) do %>
              <%= park.name %>
            <% end %>
          </li>
        <% end %>
        </ul>
