<section class="section-park-list">
  <h2>All our parks:</h2>
  <ul class="park-list clearfix">
  <% @allParks.each do |park| %>
    <li class="<%= cycle("col1", "col2", "col3", "col4") %>">
      <a href="<%= park_path(park) %>">
      <%= park.name %>
        <div class="addr"><%= park.address %></div>
      </a>
    </li>
  <% end %>
  </ul>
</section>
