Parks

<%= link_to "New Park", new_admin_park_path %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% @parks.each do |park| %>
  <tr>
    <td><%= link_to park.name, edit_admin_park_path(park) %></td>
    <td><%= link_to "Delete", [:admin, park], method: :delete %></td>
  </tr>    
  <% end %>
</table>
