<h1 class="current_menu clear">Parks</h1>
<%= link_to "Add a New Park", new_admin_park_path %>
<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% @parks.each do |park| %>
  <tr>
    <td><%= link_to park.name, edit_admin_park_path(park) %></td>
    <td><%= link_to "Delete", [:admin, park], :method => :delete, :data => { :confirm => "Are you sure you want to delete #{park.name}?" } %></td>
  </tr>    
  <% end %>
</table>
