<h1 class="current_menu">Users</h1>

<%= link_to "New User", new_admin_user_path %>

<table>
  <tr>
    <th>Email</th>
    <th>Admin</th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td>
      <% if can? :manage, User %>
        <%= check_box_tag "admin", "admin", user.admin?, {class: "user_set_admin_checkbox", data: {id: user.id}} %>
      <% end %>
    </td>
    <td><%= link_to "Delete", [:admin, user], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
