    <header class="clearfix">
      <a class="logo hide-content" href="/">Friends of Grand Rapids Parks</a>
      <%= render partial: "common/socialnav" %>
      <nav class="main-nav">
        <ul>
          <li>
            <a href="#">programs + projects</a>
            <ul>
              <li><a href="#">programs</a></li>
              <li><a href="#">current projects</a></li>
              <li><a href="#">completed projects</a></li>
            </ul>
          </li>
          <li>
            <a href="#">get involved</a>
            <ul>
              <li><a href="#">volunteer</a></li>
              <li><a href="#">events</a></li>
              <li><a href="#">donate</a></li>
            </ul>
          </li>
          <li>
            <a href="#">find a park</a>
          </li>
          <li>
            <a href="#">about</a>
            <ul>
              <li><a href="#">blog</a></li>
              <li><a href="#">contact</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
