    <header class="clearfix">
	  <meta http-equiv="X-UA-Compatible" content="IE=8" />
      <a class="logo hide-content" href="http://www.friendsofgrparks.org">Friends of Grand Rapids Parks</a>
      <%= render :partial => "common/socialnav" %>
      <nav class="main-nav">
        <ul>
          <li>
            <a href="http://www.friendsofgrparks.org/project">programs + projects</a>
            <ul>
              <li><a href="http://www.friendsofgrparks.org/project">programs</a></li>
              <li><a href="http://www.friendsofgrparks.org/project">current projects</a></li>
              <li><a href="http://www.friendsofgrparks.org/project">completed projects</a></li>
            </ul>
          </li>
          <li>
            <a href="http://www.friendsofgrparks.org/events">get involved</a>
            <ul>
              <li><a href="http://www.friendsofgrparks.org/events">volunteer</a></li>
              <li><a href="http://www.friendsofgrparks.org/events">events</a></li>
              <li><a href="https://npo.networkforgood.org/Donate/Donate.aspx?npoSubscriptionId=1004510">donate</a></li>
            </ul>
          </li>
          <li>
            <a href="http://explore.friendsofgrparks.org">find a park</a>
          </li>
          <li>
            <a href="http://www.friendsofgrparks.org/about">about</a>
            <ul>
              <li><a href="http://www.urbanforestproject.com/news/">blog</a></li>
              <li><a href="http://www.friendsofgrparks.org/contact">contact</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
