      <nav class="social-nav">
        <ul>
          <li><a href="#" class="facebook" titlle="Facebook">facebook</a></li>
          <li><a href="#" class="twitter" title="Twitter">twitter</a></li>
          <li><a href="#" class="flickr" title="Flickr">flickr</a></li>
          <li><a href="#" class="vimeo" title="Vimeo">vimeo</a></li>
        </ul>
      </nav>

