      <nav class="social-nav">
        <ul>
          <li><a href="http://www.facebook.com/pages/Friends-of-Grand-Rapids-Parks/102325820851" class="facebook" title="Facebook">facebook</a></li>
          <li><a href="https://twitter.com/friendsGRparks" class="twitter" title="Twitter">twitter</a></li>
          <li><a href="http://www.flickr.com/groups/1083938@N25/" class="flickr" title="Flickr">flickr</a></li>
          <li><a href="http://vimeo.com/fgrp" class="vimeo" title="Vimeo">vimeo</a></li>
        </ul>
      </nav>

